<nav class="navbar">
  <a href="/public/index.html" class="logo hoverMe">✧</a>
  <button class="nav-menu hoverMe" onclick="toggleMenu()">&#9776;</button>
</nav>

<div id="fullscreen-nav" class="fullscreen-nav">
  <button class="close-btn hoverMe" onclick="toggleMenu()">&times;</button>
  <a href="/public/index.html" class="nav-link hoverMe">HOME</a>
  <a href="/src/pages/objectives.html" class="nav-link hoverMe">OBJECTIVES</a>
  <a href="/src/pages/portfolio.html" class="nav-link hoverMe">PORTFOLIO</a>
  <!-- <a href="/src/pages/resume.html" class="nav-link hoverMe">RESUME</a> -->
  <a href="/src/pages/about.html" class="nav-link hoverMe">ABOUT</a>
  <!-- <a href="/src/pages/contact.html" class="nav-link hoverMe">CONTACT</a> -->
</div>
