@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');


/* CSS Reset */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Kode Mono", monospace;
    font-weight: 100;
    color: #b9b9b9;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

    background: url("https://wallpapers.com/images/hd/dramatic-lightning-strike-in-4k-resolution-zv1zo4glzd6u3pb9.jpg") no-repeat center center fixed;
    background-size: 105%;
}

.container {
    text-align: center;
}

.parallax {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 0.1s ease-out;
}


.parallax h4 {
    font-weight: 200;
    letter-spacing: .25em;
    color: #b9b9b9;
    transition: all 0.3s ease-in-out;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover h4 {
    color: #f0fdff;
    text-shadow: 0 0 5px #000000,
        0 0 7px #667998,
        0 0 12px #476dac,
        0 0 17px #667998,
        0 0 27px #426aac;
}


.full-name {
    font-family: "K2D", sans-serif;
    font-weight: 800;
    font-size: 9rem;
    margin-top: 0;
    color: ivory;
    mix-blend-mode: difference;
}

.role {
    font-weight: 600;
    letter-spacing: .25em;
    font-size: 3rem;
    color: transparent;
    -webkit-text-stroke: 1.5px #b9b9b9;
}