/* CSS Reset */
html, body {
    width: 100%;
    font-weight: 100;
    color: #b9b9b9;

    background: url("/public/media/lightning.jpeg") no-repeat center bottom fixed;
    background-size: 105%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.container {
    text-align: center;
}

.parallax {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 0.1s ease-out;
}


.parallax h4 {
    font-weight: 200;
    letter-spacing: .25em;
    color: #b9b9b9;
    transition: all 0.3s ease-in-out;
}

a {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    cursor: none;
}

a:hover h4 {
    color: #f0fdff;
    text-shadow: 0 0 20px #000000,
        0 0 30px #7dff6e,
        0 0 40px #3e8e41,
        0 0 50px #6bff8e,
        0 0 70px #2e6c31,
        0 0 100px #2e8b57;
}


.full-name {
    font-family: "K2D", sans-serif;
    font-weight: 800;
    font-size: 9rem;
    margin-top: 0;
    color: ivory;
    mix-blend-mode: difference;
}

.role {
    font-weight: 600;
    letter-spacing: .25em;
    font-size: 3rem;
    color: transparent;
    -webkit-text-stroke: 1.5px #b9b9b9;
}