@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

:root {
    --dimmed-color: rgba(8, 246, 111, .6);
    --full-color: rgb(8, 246, 111);
}


body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: "Kode Mono", monospace;
    cursor: none;

    /* Hides scrollbar */
    scrollbar-width: none;
}

body {
    background-image: url("../media/lightning.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Custom Cursor Styles */
.inner-cursor {
    position: fixed;
    left: 10px;
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    pointer-events: none;
    z-index: 1000;
    transition: width .5s, height .5s;
}

.inner-cursor.grow {
    width: 37.5px;
    height: 37.5px;
    transition: width .5s, height .5s;
    background-color: rgba(255, 255, 255, 0.6);
}

.outer-cursor {
    position: fixed;
    left: 10px;
    width: 37.5px;
    height: 37.5px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
    z-index: 1000;
}

a {
    cursor: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 18px;
    height: 75vh;
    width: 75vw;
}

#child-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 1.5px solid white;
}

/* Portrait */
.grid1 {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;

    background: url("/media/about/Danny.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: saturate(0);
    transition: all .3s ease-in-out;
}

.grid1:hover {
    filter: saturate(1);
}

/* Bio */
.grid2 {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-column-start: 4;

    flex-direction: column;
}

.grid2 h1 {
    font-family: "K2D", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
    color: #00FF0E;
    user-select: none;
}

.grid2 p {
    margin: 0 10px;
    color: #b9b9b9;
    user-select: none;
    padding: 5px 10px;
}

/* PC Builds */
.grid3 {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-column-start: 8;
    overflow: hidden;
}

.grid3 video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

/* Socials */
.grid4 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 3;
}

.social-icon {
    font-size: 5rem;
    color: #b9b9b9;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #00FF0E;
    cursor: pointer;
}

/* Random Project */
.grid5 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 6;
    grid-row-start: 3;

    background-image: url("/media/about/spinnies.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
}

.grid5 label {
    color: #00ff0e98;
    user-select: none;
    padding: 10px;
    font-weight: bold;
    cursor: none;
}

#project-link {
    color: #b9b9b9;
    font-size: 1.5rem;
    user-select: none;
    text-align: center;
    padding: 0 10px;
}

#project-link a {
    text-decoration: none;
    color: #b9b9b9;
    transition: color 0.3s ease-in-out;
}

#project-link a:hover {
    color: #4d4d4d;
}

/* Major */
.grid6 {
    grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
    grid-row-start: 5;
}

.grid6 h1 {
    font-family: "K2D", sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    margin: 0;
    color: #b9b9b9;
    user-select: none;
}

/* Spotify */
.grid7 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 6;
    grid-row-start: 5;

    overflow: hidden;
}

.spotify-iframe {
    border-radius: 10px;
    padding: 8px;
    margin: 70px;
}

/* Years of Experience */
.grid8 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 9;
    grid-row-start: 5;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23000000' stroke-width='0.2' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23242424' href='%23s' y='2'/%3E%3Cuse fill='%23242424' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23333333' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23333333' href='%23s'/%3E%3Cuse fill='%233e3e3e' href='%23s' x='2'/%3E%3Cuse fill='%233e3e3e' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23484848'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23484848'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23515151'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23000000'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23585858'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%2300FF0E'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%2300FF0E'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%2300FF0E'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-size: contain;
    text-align: center;
    flex-direction: column;
    filter: blur(2px);
    transition: filter 0.5s ease-in-out;
}

.grid8:hover {
    filter: blur(0px);
}

.grid8 h1 {
    font-family: "K2D", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
    color: #00FF0E;
    user-select: none;
}

.grid8 p {
    font-size: 1.25rem;
    margin: 10px 0 0 0;
    color: #b9b9b9;
    user-select: none;
}

/* Logos Slide */
.grid9 {
    grid-column: span 10 / span 10;
    grid-row-start: 7;

    background-color: #b9b9b9;
    white-space: nowrap;
    overflow: hidden;
    padding: 20px 0;
}

.grid9:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    pointer-events: none;
}

.logos-slide img {
    height: 60px;
    margin: 0 20px;
}

@keyframes slide {
    from {
        transform: translateX(50%);
    }

    to {
        transform: translateX(-50%);
    }
}


/* Navbar - START */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(40px);
    z-index: 999;

    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.logo {
    color: #b9b9b9;
    font-size: 24px;
    text-decoration: none;
    padding: 15px 22px;
}

.nav-menu {
    font-size: 30px;
    background: transparent;
    border: none;
    color: #b9b9b9;
    padding: 15px 22px;
}

/* Navbar - END */

/* Nav Menu - START */
.fullscreen-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(60px);
    z-index: 999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
    font-family: "K2D", sans-serif;
    font-weight: bold;
    letter-spacing: .1rem;
}

.fullscreen-nav a {
    color: #161616;
    font-size: 30px;
    margin: 15px 0;
    text-decoration: none;
}

.close-btn {
    position: fixed;
    align-self: flex-end;
    top: 0;
    font-size: 50px;
    background: transparent;
    border: none;
    color: #b9b9b9;
    padding: 9px 21px;

}

/* Disabled/Active Link Styles */
.active {
    color: #b9b9b9;
    cursor: default;
    pointer-events: none;
    text-decoration: none;
}

/* Nav Menu - END */